@import 'src/styles/variables';
@import 'src/styles/mixins';

.details {
  display: flex;
  flex-wrap: wrap;
  flex: 2;
  margin: 15px;


  &__container {
    margin: 80px 40px;
  }


  &__submit-button {
    margin-top: 20px;
  }
}