@import 'src/styles/variables';
@import 'src/styles/mixins';

.details {
  display: flex;
  flex-wrap: wrap;
  flex: 2;

  @include sm {}

  @include md {
    margin: 20px;
  }

  @include lg {
    margin: 20px;
  }

  @include xl {
    margin: 20px;
  }
}