@import 'src/styles/variables';
@import 'src/styles/mixins';

.card-number-element {
  display: flex;
  flex: 1;
  flex-direction: column;
  // height: 75px;

  &__label {
    @include user-select-none;
    font-family: 'Nunito Sans';
    font-size: 1em;
    margin: 0
  }

  &__wrapper {
    border: none;
    box-shadow: 0;
    outline: none;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    margin-top: 4px;
  }
}