@import 'src/styles/variables';
@import 'src/styles/mixins';

.payment {
  &__title {
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    margin-bottom: 80px;
  }

  &__container {
    overflow: scroll;
    max-width: 1024px;
    background-color: $base-white;
    padding: 30px;

    @include sm {
      padding: 40px
    }

    @include md {
      padding: 50px
    }

    @include lg {
      padding: 60px
    }

    @include xl {
      padding: 80px
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }
}