@import 'src/styles/variables';
@import 'src/styles/mixins';

.payment {

  &__controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  &__title {
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
  }

  &__form {
    min-width: 300px;
    background-color: $base-white;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    flex-direction: row;

    @include sm {
      margin: 10px 10px;
    }

    @include md {
      margin: 10px 20px;
    }

    @include lg {
      margin: 10px 20px;
    }

    @include xl {
      margin: 10px 20px;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
  }

  &__modal {
    max-width: 900px;
    @include hide-scrollbar;
  }

  &__modal-overlay {
    @include hide-scrollbar;
  }
}