@import 'src/styles/variables';
@import 'src/styles/mixins';

.payment {

  &__controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 15px
  }

  &__title {
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
  }

  &__form {
    padding: 15px;
    overflow: scroll;
    max-width: 1024px;
    background-color: $base-white;
    min-width: 418px;
  }

  &__container {
    padding: 10px;

    @include sm {
      padding: 10px
    }

    @include md {
      padding: 20px
    }

    @include lg {
      padding: 30px
    }

    @include xl {
      padding: 40px
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    margin: 15px;
  }

  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
  }
}