@import 'src/styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap');

b {
  font-weight: 600;
}

body {
  margin: 0;
  background-color: lighten($base-gray, 35%);
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 26px;
  font-weight: 500;
}

html {
  font-size: 15px;
}