// fonts
$paragraph-font: 'Poppins';
$header-font: 'Open Sans';

//colors 

$base-blue: #0089FF;
$base-violet: #8359FF;
$base-pink: #FA9194;
$base-gray: #999999;
$base-white: #FFFFFF;
$base-charcoal: #535A67;
$base-black: #000000;
$base-green: #6DD400;
$base-red: red;
$dark-blue: #0066CF;

$medium: 640px