@import 'src/styles/variables';
@import 'src/styles/mixins';

.plans {
  display: flex;
  justify-content: space-evenly;
  align-self: center;

  &__container {
    display: 'flex';
    justify-content: 'center';
    flex-flow: 'row';
    align-content: 'center';
    text-align: 'center';
    margin-left: 'auto'
  }
}

.react-multi-carousel-dot button {
  border-width: 0px !important;
  background-color: $base-blue !important;
}

.react-multi-carousel-dot--active button {
  border-width: 0px !important;
  background-color: darken($base-blue, 30) !important;
}