@import 'src/styles/variables';
@import 'src/styles/mixins';

.plans {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  &__container {
    display: 'flex';
    justify-content: 'center';
    flex-flow: 'row';
    align-content: 'center';
    text-align: 'center';
    margin-left: 'auto'
  }
}