@import 'src/styles/variables';
@import 'src/styles/mixins';

.text-input {
  display: flex;
  flex-direction: column;
  height: 115px;

  &__input {
    box-shadow: 0;
    border: none;
    border-bottom: 2px solid black;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    height: 40px;
    outline: none;

    &::placeholder {
      @include user-select-none;
      color: lighten($base-gray, 10%);
    }

    &:focus {
      border-bottom: 2px solid $base-blue;
    }
  }

  &__title {
    @include user-select-none;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
  }

  &__error {
    @include user-select-none;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    color: $base-red;
    margin: 10px 0,
  }
}