@import 'src/styles/variables';
@import 'src/styles/mixins';

.plan-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    @include user-select-none;
    font-family: $header-font !important;
    width: 100%;
    text-align: center;
    align-self: center;
    font-size: 1.6em;
    color: $base-white;
    margin: 0;
    margin-top: 20px;
    padding: 5px;
    line-height: normal;
    background-color: $base-blue;
  }

  &__price {
    @include user-select-none;
    font-family: 'Poppins' !important;
    font-weight: 400;
    font-size: 2.1em;
    color: $base-blue;
    padding: 0px;
    margin: 0px;
    text-align: center;
  }

  &__price-container {
    display: flex;
    flex-direction: column;
    height: 70px;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 5px 0px;
    // background-color: green;
  }

  &__price-details {
    font-size: .5em;
    margin: 0;
    padding: 0
  }

  &__description {
    @include user-select-none;
    font-family: 'Open Sans' !important;
    font-size: .8em;
    text-align: left;
    color: $base-charcoal;
    margin: 0;
    line-height: normal;
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }

  &__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    // justify-content: space-evenly;
    margin: 0px 14px 0px 14px;
  }

  &__image {
    @include user-select-none;
    height: 25px;
    width: auto;
    margin-right: 13px;
  }

  &__trial {
    @include user-select-none;
    font-family: $header-font;
    font-size: 14px;
    color: red;
    font-weight: 600;
  }

  &--mobile {
    max-height: 400px;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  &--active {
    outline: solid $base-blue 2px;
    border-radius: 0px;
  }


}