@import 'src/styles/variables';
@import 'src/styles/mixins';

.card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: white;
  border-radius: 20px;
  box-shadow:
    0 1px 20px rgba(73, 73, 73, 0.11),
    0 2px 2px rgba(73, 73, 73, 0.11),
    0 4px 4px rgba(73, 73, 73, 0.11);

  &__header {
    display: flex;
    align-items: center;
    position: relative;
    height: 70px;
    padding: 10px 15px;
    border-radius: 20px 20px 0px 0px;
  }

  &__title-container {
    align-items: center;
    display: flex;
    transform: rotate(-90deg);
    width: 50px;
  }

  &__title {
    font-family: 'Nunito Sans';
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
  }

  &__price {
    font-family: Nunito Sans;
    align-self: flex-end;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
  }

  &__benefits-content {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin: 10px 0px;
    align-items: center;
  }

  &__benefits-description {
    display: flex;
    font-family: Nunito Sans;
    line-height: 20px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: $base-black;
  }

  &__content-container {
    padding: 10px 20px;
  }

  &__button {
    height: 50px;
    display: flex;
    margin-top: auto;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 20px 20px;
    @include pointer-on-hover;
  }

  &__button-title {
    color: white;
    user-select: none;
    flex-direction: row;
    font-family: 'Nunito Sans';
    font-size: 22px;
  }

  &__trial-text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: $base-white;
  }

  &__trial-container {
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: $dark-blue;
    border-radius: 0 20px;
  }
}