@import 'src/styles/variables';
@import 'src/styles/mixins';

.text-field {
  display: flex;
  flex: 1;
  flex-direction: column;
  // height: 75px;

  &__label {
    @include user-select-none;
    font-family: Nunito Sans;
    font-size: 1em;
    margin: 0
  }

  &__input {
    border: none;
    box-shadow: 0;
    outline: none;
    border: none;
    color: $base-charcoal;
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    width: 100%;

    &--error {
      color: $base-red;
    }
  }

  &__wrapper {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    margin-top: 4px;
  }

  &__helper {
    @include user-select-none;
    font-family: 'Nunito Sans';
    font-size: .8em;
    margin: 2px 0 0;

    &--error {
      color: $base-red;
    }
  }
}