@import 'src/styles/variables';
@import 'src/styles/mixins';

.details {
  display: flex;
  flex-direction: column;
  flex: 1;

  &__container {
    margin: 80px 40px;
  }

  &__form {
    display: flex;
    max-height: 500px;
    flex-wrap: wrap;
    margin: 0px 32px 100px;
    align-self: center;
  }

  &__title {
    @include user-select-none;
    font-family: $header-font;
    font-size: 2.4em;
    font-weight: 600;
    padding: 0px;
    margin: 0px 0px 5px 0px;
    color: white;
    width: 60%;
    line-height: normal;
  }

  &__description {
    @include user-select-none;
    align-self: flex-start;
    font-family: $paragraph-font;
    font-weight: 300;
    font-size: 1.3em;
    margin: 0px;
    padding: 0px;
    color: $base-white;
    line-height: normal;
  }

  &__keyword {
    color: $base-blue;
  }

  &__submit-button {
    position: absolute;
    z-index: 100;
    margin: 40px;
    bottom: 0;
    right: 0;
  }
}